*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*LAYOUT ELEMENTS*/
body{
    font-family: sans-serif;
}

header{
  background-color: #255EE9;
}
.row{ 
    display: flex;
    flex-wrap: wrap;
}

.container{
    width: 75%;
    margin: 0 auto;
    padding: 30px;
}

.col-60{
    width: 60%;
    border: 1px dashed black;
    background-color: #1E91FE;
    height: 280px;
}

.col-40{
    width: 40%;
    border: 1px dashed black;
    background-color: #FEC0CB;
    height: 280px;
}

.col-lg{
    width: 100%;
    border: 1px dashed black;
    background-color: #228B22;
    height: 500px;
}

.bg-grey{
    background-color: #D3D3D3;
    width: 100%;
}

.bg-darkgrey{
    background-color: #23272A;
    width: 100%;
}

footer{
    background-color: #B1B5B8;
}

.container-footer{
    width: 75%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 30px;
}
.col-33{
    width: calc((100%/6)*2);
    background-color: #F0807F;
    border: 1px dashed black;
    height: 400px;
}
.col-16{
    width: calc(100%/6);
    background-color: #20B1AA;
    border: 1px dashed white;
    height: 400px;
}
.container-footer-sm{
    width: 75%;
    margin: 1px auto 0 auto;
    padding-top: 15px;
}
.col-footer{
    width: 100%;
    background-color: #80FFD4;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.txt-footer{
    border: 2px dashed black;
    background-color: #FFB5C4;
    padding: 3px 5px;
    font-size: 10px;
    font-weight: 100;
}


/*HEADER*/
.container-head{
    width: 75%;
    margin: 0 auto;  
    padding: 12.5px;  
    font-size: 15px;
    font-weight: 200;
}
.col25{
    width: 25%;
    padding: 7.5px 10px;
}
.col50{
    width: 50%;
    padding: 5px;
    text-align: center;
}

.txt-end{
    text-align: right;
}

li{
    display: inline-block;
    list-style: none;
    color: #fff;
    margin:10px 20px;
}

.btn{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}
.btn-white{
    background-color: #fff;
}
.btn-black{
    background-color: #23272A;
    color: #fff;
}



/*FIRST SECTION SPECIFIC*/
.bg-jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-sm{
    width: 60%;
    margin: 0 auto;
    padding: 30px;
}

.container-sm .btn{
    margin-top: 20px;
}
.col-100{
    width: 100%;
    text-align: center;
    height: 350px;
    padding: 75px;
}
.container-sm p{
    margin-top: 50px;
    color: #fff;
}
.container-sm h1{
    color: #fff;
}



