*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*LAYOUT ELEMENTS*/
body{
    font-family: Arial, sans-serif;
}

header{
  background-color: #255EE9;
}
.row{ 
    display: flex;
    flex-wrap: wrap;
}

.mg-tp-tb{
    margin: 30px;
}

.container{
    width: 75%;
    margin: 0 auto;
    padding: 30px;
}

.col-60{
    width: 60%;
}

.col-40{
    width: 40%;
}

.col-lg{
    width: 100%;
}

.bg-grey{
    background-color: #F5F5F5;
    width: 100%;
}

.bg-darkgrey{
    background-color: #23272A;
    width: 100%;
}

footer{
    background-color: #B1B5B8;
}

.container-footer-top{
    width: 75%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 30px;
    border-bottom: 2px solid #4E5B88;
}
.col-33{
    width: calc((100%/6)*2);
}

.col-33 h4{
    margin-bottom: 30px;
    font-size: 1.5em;
}

.col-16 li{
    width: 100%;
}

.col-16{
    width: calc(100%/6);
}
.container-footer-sm{
    width: 75%;
    padding-top: 15px;
    padding-bottom: 60px;
    margin: 0 auto;
}
.col-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.lilla{
    color: #738ADA;
}

.align-center{
    align-items: center;
    text-align: center;
}

.wave{
    background-image: url(../img/wave.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    opacity: 0.04;
    margin: 0;
    padding: 0;
}
.flip{
    transform: rotate(180deg) scaleX(-1);
}

.logo-discord-footer img{
    width: 90%;
}

/*HEADER*/
.container-head{
    width: 75%;
    margin: 0 auto;  
    padding: 12.5px;  
    font-size: 15px;
    font-weight: 200;
}
.col25{
    width: 25%;
    padding: 7.5px 10px;
}
.col25 .btn{
    font-size: 0.9em;
    padding: 7.5px 10px;
}

.col50{
    width: 50%;
    padding: 5px;
    text-align: center;
}

.txt-end{
    text-align: right;
}

h2{
    font-size: 2.5em;
}

li{
    display: inline-block;
    list-style: none;
    color: #fff;
    margin:10px 20px;
}

.mg-top{
    margin-top: 30px;
}

.content .btn{
    font-size: 1.1em;
}

.btn{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
}

.btn-footer{
    padding: 2.5px 10px;
}

.btn-white{
    background-color: #fff;
}
.btn-black{
    background-color: #23272A;
    color: #fff;
}

.btn-blue{
    background-color: #738ADA;
    color: #fff;
}

.v-align{
    vertical-align: middle;
}

.stars-bg{
    background-image: url(../img/stars.svg);
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    height: 60px;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

.stars-bg h3{
    font-size: 1.75em;
}


.flag{
    width: 20px;
    margin-right: 10px;
}

.lingua{
    color: #fff;
}
.content-footer-log{
    margin-top: 20px;
}

.logo-footer{
   width: 25px;
   margin-right: 15px;
   filter: invert(1);

}

.arrow{
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 5px;
}

.big-img{
    width: 100%;
}

.content-footer-lang{
    display: flex;
}
/*FIRST SECTION SPECIFIC*/
.bg-jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

.container-sm{
    width: 60%;
    margin: 0 auto 20px auto;
}

.container-sm .btn{
    margin-top: 20px;
    margin-right: 20px;
}
.col-100{
    width: 100%;
    text-align: center;
    height: 350px;
    padding: 75px;
}
p{
    margin-top: 30px;
    line-height: 1.5;
}

.text-white{
    color: #fff;
}

/*SECTIOn 60/40*/
.col-60 img{
    width: 100%;
}

.content{
    padding: 50px 0;
}

